.basic-app-bar {

  flex-grow: 1;

  & .MuiAppBar-root {
    background-color: var(--APP-BAR-COLOR);
  }

  .appbar {
    .typography {
      padding-right: 950px;
      font-family: Barlow-Condensed-Semibold, sans-serif;
    }
  }
}
