.cs-data-grid {

  width: 100%;

  .MuiDataGrid-root {
    border-color: #808080;
    .MuiDataGrid-cell:focus,
    .MuiDataGrid-cell:focus-within,
    .MuiDataGrid-columnHeader:focus,
    .MuiDataGrid-columnHeader:focus-within {
      outline: none;
      user-select: none;
    }
  }

}
