.invite-user-page {

  .invite-user-page-title {
    font-family: Barlow-Condensed-Regular, sans-serif;

    font-size: 1.5rem;
  }

  .invite-user-form {

    display: flex;
    flex-direction: column;
    gap: 1em;
    .invite-user-form-email {
      & .MuiFilledInput-root {
        background: red;
      }
    }
  }

  .invite-user-invitation-link {

    display: flex;
    justify-content: center;

    & pre {
      font-size: 0.75em;
      color: rgb(64, 64, 255);
      background-color: white;
      padding: 1em;
    }

  }

}
