.page {
  .voting-select div{
    font-family: Barlow-Condensed-Regular, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }

  .contest-card {
    background-color: #597059;
    border: solid black;
  }
}
